<div class="wrapper">
  <div class="wrapper__header">
    <h1>Assignment 1</h1>
  </div>
  <!--Here you can change between "flex" and "grid" to see the result-->
  <div class="wrapper__content flex">
    <div class="wrapper__content-item wrapper__content-item--1">
      <p>Title: Box 1</p>
    </div>
    <div class="wrapper__content-item wrapper__content-item--2">
      <p>Title: Box 2</p>
    </div>
    <div class="wrapper__content-item wrapper__content-item--3">
      <p>Title: Box 3</p>
    </div>
    <div class="wrapper__content-item wrapper__content-item--4">
      <p>Title: Box 4</p>
    </div>
  </div>
</div>
