.wrapper {
  height: 100vh;

  &__header {
    height: 100px;
    background-color: lightskyblue;
    border-bottom: 4px solid grey;

    h1 {
      text-align: center;
      line-height: 100px;
    }
  }

  &__content {
    height: calc(100vh - 100px);
    padding: 32px;
    align-content: start;
    overflow: auto;
  }

  &__content-item {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content-item--1 {
    border: 2px solid black;
    grid-area: first;
  }

  &__content-item--2 {
    border: 2px solid black;
    border-radius: 30px;
    grid-area: second;
  }

  &__content-item--3 {
    border: 2px dashed black;
    border-radius: 30px;
    grid-area: third;
  }

  &__content-item--4 {
    border: 2px dashed black;
    grid-area: fourth;
  }
}

.flex {
  margin: -32px 0 0 -32px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  > .wrapper__content-item {
    margin: 32px 0 0 32px;
    width: calc(33.33333333% - 32px);
  }
}

.grid {
  display: grid;
  grid-template-areas:
    'first first'
    'second third'
    'fourth fourth';
  grid-gap: 32px;
}
